.rangeInp {
    height: 3px;

    display: block;
    width: 100%;

    appearance: none;
    outline: none;

    &::-webkit-slider-runnable-track {
        height: 3px;
        cursor: pointer;
        background-color: #5f5f5f;
    }

    &::-moz-range-track {
        cursor: pointer;
        background-color: #5f5f5f;
    }

    &::-webkit-slider-thumb {
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        height: 15px;
        width: 15px;

        -webkit-appearance: none;
        border-radius: 50%;
        background-color: #940d0d;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        height: 15px;
        width: 15px;

        border: none;
        border-radius: 50%;
        background-color: #940d0d;
        cursor: pointer;
    }
}
